body {
    background-color: #181a1b;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #212529;
    padding: 32px 28px 24px 28px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    min-width: 340px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 0 auto 22px auto;
    border-radius: 50%;
    border: 3px solid #1f8fff;
    box-shadow: 0 4px 4px #1f8fff44;
    background: #fff;
}

h1 {
    margin-bottom: 20px;
    color: #b0c4de;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] ,
input[type="email"]{
    width: 90%;
    padding: 13px 14px;
    margin-bottom: 16px;
    border: 1.5px solid #1f4068;
    border-radius: 6px;
    font-size: 1em;
    background: #181a1b;
    color: #fff;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input::placeholder {
    color: #8fa2c9;
    opacity: 1;
    font-size: 1em;
}

button {
    padding: 0.8rem;
    border: none;
    width: 97%;
    border-radius: 8px;
    font-size: 1rem;
    background: linear-gradient(135deg, #1a73e8 0%, #0d47a1 100%);
    color: #e8ecef;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #0d47a1 0%, #083a8c 100%);
    transform: translateY(-2px);
}

.register-link {
    display: inline;
    margin-top: 18px;
    font-size: 17px;
    color: #b0c4de;
    text-align: center;
}

.register-link a {
    color: #1f8fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    color: #fff;
    text-decoration: underline;
}
.Error {
    color: #ff4757;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
}

@media (max-width: 480px) {
    div {
       
        max-width: 80%;
        padding: 28px 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    input[type="text"],
    input[type="password"],
    button {
        font-size: 0.95em;
    }

    .register-link {
        font-size: 15px;
    }
}