<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechDev</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/comments.js"></script>
    <script src="/static/js/posts.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-left">
            <div class="logo">TD</div>
            <div class="platform-name">TechDev</div>
        </div>
        <div class="header-buttons">
            {{if .Username}}
            👋 {{.Username}}
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {{end}}
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Left Sidebar -->
        <aside class="sidebar-left">
            <h2>About TechDev</h2>
            <p>
                Join the TechDev Community! Connect with like-minded tech enthusiasts, participate in engaging
                discussions, and chat in real-time with other members. 🎤 Share your ideas, 🗨️ get instant feedback,
                and 📰 stay updated with the latest posts and comments. Be part of a vibrant tech network and never miss
                out on important conversations!
            </p>

            <h2>Lmobrmijin</h2>
            <aside class="programmers">
                <ul>
                    <li><a href="https://github.com/0abdelilah">Abelkhadir</a></li>
                </ul>
            </aside>
        </aside>

        <!-- Center Feed -->
        <main class="feed">
            <div class="create-post">
                <button onclick="openPopup()"><span></span>Create Post</button>
            </div>

            <div id="overlay" onclick="closePopup()"></div>
            <div id="popup">
                <div class="popup-content">
                    <h2>Create Post</h2>
                    <textarea name="title" placeholder="Title..."></textarea>
                    <textarea name="content" placeholder="Content..."></textarea>
                    <button onclick="createPost(); closePopup()">Submit</button>
                </div>
            </div>

            <div class="posts">
                {{range $Post := .AllPosts}}
                <a href="/post-detail?postid={{$Post.Id}}" class="post-link">
                    <div class="post">
                        <div class="post-header">
                            <img src="./static/icon.png" alt="User Icon">
                            <h3></h3>
                        </div>

                        <div class="post-content">
                            <h3>{{$Post.Title}}</h3>
                            <p>{{$Post.Content}}</p>
                        </div>

                        <div class="post-actions">
                            <button type="button"><span>👍</span> {{$Post.Likes}} Like</button>
                            <button type="button"><span>👎</span> {{$Post.Dislikes}} Dislikes</button>
                            <button type="button"><span>💬</span> {{$Post.CommentsNum}} Comments</button>
                            <button type="button"><span>#</span> {{$Post.Category}}</button>
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </main>

        <!-- Right Sidebar -->
        <aside class="sidebar-right">
            <h2>Categories</h2>
            {{range $cat := .Categories}}
            <form action="/" method="post">
                <label for="{{$cat.Category}}" class="category">
                    <input type="hidden" name="postId" value="{{$cat.Category}}" />
                    <input type="submit" name="Category" value="{{$cat.Category}}" />
                </label>
            </form>
            {{end}}
        </aside>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 TechDev. made with ❤️ and ☕.</p>
    </footer>
</body>
