<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div>
        <img src="https://draculatheme.com/icons/used/pack-9/033-bug.svg" alt="Profile">
      
        <form action="/api/login" method="POST">
            <input type="text" id="username" name="username" placeholder="Username or Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <p style="color: aliceblue;">{{.Error}}</p>
            <button type="submit">Sign In</button>
        </form>
        <div class="register-link">
            Don't have an account?
            <a href="/register">Register</a>
        </div>
    </div>
    
</body>
</html>