<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Register</title>
</head>

<body>
    <div>
        <img src="https://draculatheme.com/icons/used/pack-9/033-bug.svg" alt="Profile">
        <form action="/api/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
            <input type="email" name="email" placeholder="Email" required>

            <p style="color: aliceblue;">{{.Error}}</p>

            <button type="submit">Sign Up</button>
        </form>
        <div class="register-link"> 
            Have an account? <a href="/login">Sign In</a>
        </div>
    </div>
</body>

</html>